<header>
  <img class="logo" src="assets/img/msgnetconomy_logo.png" alt="logo">
</header>

<main>
  <div class="row">
    <div class="col-xs-4"><app-users-component></app-users-component></div>
    <div slass="col-xs-8"></div>
  </div>
</main>

<footer>
  <div class="container footer-container">
      <img class="logo" src="assets/img/msgnetconomy_logo.png" alt="logo">
       <div class="row logo-bottom-border"> 
         <div class="col-xs-4">
           <ul>
             <li><a href="">Home</a></li>
             <li><a href="">About</a></li>
             <li><a href="">Portofilio</a></li>
           </ul>
         </div>
         <div class="col-xs-4">
           <ul>
             <li><a href="">Industries</a></li>
             <li><a href="">Refrences</a></li>
             <li><a href="">Partnership</a></li>
           </ul>		
         </div>
         <div class="col-xs-4">
           <ul>
             <li><a href="">Careers</a></li>
             <li><a href="">Locations</a></li>
             <li><a href="">imprint</a></li>
           </ul>
         </div>
       </div>
       <div class="row row-difrent">  <!--bottom footer icon links-->
         <div class="col-md-6 col-md-push-6 text-right middle">
           <a class="conection-links" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
           <a class="conection-links" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
           <a class="conection-links" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
           <a class="conection-links" href=""><i class="fa fa-xing" aria-hidden="true"></i></a>
         </div>
         <div class="col-md-6 col-md-pull-6 middle">
           <p>2017msgNETCONOMY</p>
         </div>
       </div>
     </div>	
</footer>
